#dashboard-menu{
    height: 300px, 200vh;
    width: 250px, 0;
    border: 2px solid black;
    align-items:stretch;
}

.display-5 {
    display: flex;
    justify-content: flex-start;
    
}

.container {
    display: flex;
    height: 1000px;
}

body {
    height: 100vh;
}

* {
    box-sizing: border-box;
}
.blockquote {
    display: flex;
    justify-content:flex-end ;
    padding: 10px;
    width: 590px;
}

.pagecount {
    display: flex;
    align-content:flex-start;
}

.container2{
    display: flex;
    float: right;
    top: 70%;
    align-content: flex-end;
}

.container {
    display: flex;
    justify-content: flex-start;

}

fieldset * {
    min-width: 0;
    padding: 20px;
    margin: 15px 10px 15px 10px;
    border: 20px;
}


.fieldset1 {
    justify-content: flex-end;
}

